*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

:root {
  font-size: 16px;
  font-weight: 400;

  --clr-cyan: hsl(179, 62%, 43%);
  --clr-yellow: hsl(71, 73%, 54%);
  --clr-gray: hsl(204, 43%, 93%);
  --clr-gblue: hsl(218, 22%, 67%);
  --clr-gcyan: rgba(42, 178, 175, 0.5);
}

body {
  background-color: var(--clr-gray);
}

a,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

main.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

article {
  padding: 2em 3em;
}

.community {
  background-color: #f5f5f5;
}

.subscription {
  background-color: var(--clr-cyan);
}

.why {
  background-color: var(--clr-gcyan);
}

.community__title {
  color: var(--clr-cyan);
  font-size: 1.8rem;
}

.community__subtext {
  color: var(--clr-yellow);
  margin-block: 1em 0.6em;
  font-size: 1.3rem;
}

.community__content {
  color: var(--clr-blue);
}

.title {
  font-size: 1.3rem;
}

.subscription__title {
  color: #f5f5f5;
}

.subscription__subtext {
  color: var(--clr-gblue);
  font-size: 1.1rem;
  margin-block: 1em 0.5em;
}

div.container {
  display: flex;
  flex-wrap: wrap;
}

div.container > * {
  flex: 1 1 50%;
}

.border-debug {
  border: 1px solid #2b2b2b;
}
